<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us - QwiKart</title>
    <link rel="stylesheet" href="/dynamic/css/style.css">
</head>
<body>
    <div class="form-container">
        <form id="consultation-form" class="feed-form" action="#">
            <input required placeholder="Full Name" type="text" name="name">
            <input name="phone" required placeholder="Phone number" type="text">
            <input name="email" required placeholder="E-mail" type="email">
            <button class="button_submit" type="submit">SEND</button>
        </form>
    </div>
    <script src="/dynamic/js/consultation-form.js"></script>
</body>
</html>