<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore Products - QwiKart</title>
    <link rel="stylesheet" href="/dynamic/css/style.css">
</head>
<body>
    <h1>Explore Our Products @ Qwikart</h1>

    <div class="group">
        <svg class="search-icon" viewBox="0 0 24 24">
            <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5
            6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5
            4.99c.41.41 1.09.41 1.5 0s.41-1.09 0-1.5l-4.99-5zm-6
            0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5
            11.99 14 9.5 14z"></path>
        </svg>
        <input id="searchInput" class="input" type="text" placeholder="Search for products..." />
    </div>

    <div class="main-content">
        <aside class="sidebar">
            <div class="filters-dropdown">
            <button class="dropdown-btn">FILTERS &#9662;</button>
            <div class="dropdown-content">
                <label for="categoryFilter">Filter by Category:</label>
                <select id="categoryFilter">
                <option value="">All</option>
                </select>
                <label for="priceFilter">Filter by Price:</label>
                <select id="priceFilter">
                <option value="">All</option>
                <option value="low">Below Rs. 100</option>
                <option value="mid">Rs. 100 - Rs. 200</option>
                <option value="high">Above Rs. 200</option>
                </select>
            </div>
            </div>
        </aside>

        <!-- <div id="loading" style="display:none; text-align:center; margin:20px;">
            <span>Loading the Products...</span>
        </div> -->
        <div class="products-container" id="productsContainer"></div>

        <!-- <div class="products-container" id="productsContainer"></div> -->
    </div>
    <script src="/dynamic/js/explore.js"></script>
</body>
</html>
