<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to QwiKart</title>
    <link rel="stylesheet" href="dynamic/css/style.css">
</head>
<body>
    <img src="dynamic/images/QwiKart_log_concept_2.jpeg" alt="Qwikart Logo" class="logo">
    <div class="message">
        Hello User, welcome to <strong>QwiKart</strong>... <span class="dynamic-text"></span>
    </div>
    <div class="quotes">
        <span class="quote-text"></span>
    </div>
    <button class="btn">Explore Now</button>
    <script src="dynamic/js/script.js"></script>
</body>
</html>
